<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698980364324-atc8vaej47cht55cneo80h34thteksgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698980364324-atc8vaej47cht55cneo80h34thteksgk</string>
	<key>API_KEY</key>
	<string>AIzaSyCTOUf8Dkywib8SjE2bzcuJqkcQ5zAEDek</string>
	<key>GCM_SENDER_ID</key>
	<string>698980364324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.bani.TwiterApp</string>
	<key>PROJECT_ID</key>
	<string>twitterapp-a5d7f</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterapp-a5d7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698980364324:ios:b87d1ea415c4b90c1728b1</string>
</dict>
</plist>